<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} | Gabriel</title>
    <link rel="stylesheet" href="{{"/css/style.css" | relURL}}">
</head>
<body>
    <header>
        <nav>
            <a href="/" class="brand">gabriel@blog:~/dev/blog$ </a> <span>ls -l {{ .Title }}/</span>
        </nav>
    </header>

    <main>
        {{ block "main" . }}{{ end }}
    </main>

    <footer>
        <p>EOF</p>
    </footer>
</body>
</html>
